[Desktop Entry]
Version=1.0
Name=Image View Manager
Comment=A thumbnail based image organizer with a preview
Type=Application
Icon=tropical_paradise_icon.png
Terminal=false
Exec=ivm
Categories=Graphics
